

ion-content{
  --background: url('../../assets/images/HomeBackground.png') no-repeat center/cover ;
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
}

zxing-scanner{
  padding-top: 120px;
}

h1{
  color: black;
  display: flex;
  align-items:baseline;
  justify-content: center;
}

h2{
  padding-inline: 30px;
  color: black;
}

ion-button{
  --ion-color-primary: #3734A9;
  padding-inline: 30px;
  padding-top: 20px;
}

ion-card{
  background-color: transparent;
  height: 200px;
}