

ion-content{
  --background: url('../../assets/images/HomeBackground.png') no-repeat center/cover ;
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
}





zxing-scanner{
  margin-top: 80px;
  align-content: center;
}

h1{
  color: black;
  display: flex;
  align-items:center;
  justify-content: center;


}

h2{
  padding-inline: 30px;
  color: black;
}

ion-button{
  --ion-color-primary: #3734A9;
  padding-inline: 30px;
  padding-top: 1px;
  position: relative;

  scale: 90%;
}

ion-card{
  background-color: transparent;
  align-content: center;

}
