<ion-content [fullscreen]="true">
  <ion-icon (click)="volver()" class="atrasBtn" name="chevron-back-outline"></ion-icon>
  <ion-card class="ion-no-margin">
    <ion-card-title>
      REGISTRATE
    </ion-card-title>
  </ion-card>

  <ion-card>
    <form (ngSubmit)="register()">
      <ion-label>RUT (Ej: 12.345.678-9) </ion-label>
      <ion-item>
        <ion-input [(ngModel)]="rut" type="text" name="rut"> </ion-input>
      </ion-item>
      <ion-label>Nombre</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="firstName" type="text" name="name"> </ion-input>
      </ion-item>
      <ion-label>Apellido</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="lastName" type="text" name="lastName"> </ion-input>
      </ion-item>
      <ion-label>Carrera</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="carrera" type="text" name="carrera"> </ion-input>
      </ion-item>
      <ion-label>Email</ion-label>
      <ion-item>
        <ion-input type="email" [(ngModel)]="email" name="email"> </ion-input>
      </ion-item>
      <ion-label>Password</ion-label>
      <ion-item>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-label>Region</ion-label>
      <ion-item>
        <ion-select [(ngModel)]="regionSeleccionada" name="regionSeleccionada" label="Selecciona:" (ionChange)="cambiarRegion()" >
          <ion-select-option   *ngFor="let region of arrayRegion"
            [value]="region.id">{{region.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label>Comuna</ion-label>
      <ion-item>
        <ion-select value="0" label="Selecciona:" [(ngModel)]="comunaSeleccionada" name="comunaSeleccionada" >
          <ion-select-option *ngFor="let comunas of arrayComuna"
            [value]="comunas.nombre">{{comunas.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>



    </form>
  </ion-card>
  <ion-fab class="trashIcon" (click)="limpiarCampos()">
    <ion-fab-button color="danger" type="submit">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab>
    <ion-fab-button (click)="register()" color="tertiary" type="submit">
      <ion-icon type="submit" name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>




</ion-content>